fastapi==0.115.0
uvicorn==0.32.1
python-multipart==0.0.6
PyPDF2==3.0.1
pydantic==2.10.6
python-dotenv==1.0.0
cors==1.0.1
vercel-blob==0.4.2
aiohttp>=3.13.0
groq==1.0.0
google-generativeai==0.8.3
python-pptx==1.0.2
pytesseract==0.3.13
pdf2image==1.17.0
Pillow==11.1.0
